body {
    background-color: #000000;
    background-image: url('../images/bg-body.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #fff;
}

.btn-primary {
    background: #23FFFF;
    background: linear-gradient(to right, #23FFFF 0%, #044242 100%);
    --bs-btn-color: #fff;
    --bs-btn-bg: #00A7B6;
    --bs-btn-bg: linear-gradient(to right, #23FFFF 0%, #044242 100%);
    --bs-btn-border-color: #00A7B6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #62F2FF;
    --bs-btn-hover-bg: linear-gradient(to left, #044242 0%, #23FFFF 100%);
    --bs-btn-hover-border-color: #62F2FF;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #62F2FF;
    --bs-btn-active-border-color: #00A7B6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    transition: transform 0.2s ease-in-out;
}

.btn-primary:hover {
    transform: scale(1.05);
}


section#hero {
    padding-top: 110px;
    padding-bottom: 55px;
}

section#about {
    padding-top: 110px;
    padding-bottom: 110px;
}

section#math {
    padding-top: 110px;
    padding-bottom: 110px;
}

section#scarcity {
    padding-top: 110px;
    padding-bottom: 110px;
}

section#contract {
    padding-top: 110px;
    padding-bottom: 110px;
}

section#allocation {
    padding-top: 110px;
    padding-bottom: 110px;
}

section#revenue {
    padding-top: 110px;
    padding-bottom: 110px;
}

section#revenue {
    padding-top: 110px;
    padding-bottom: 220px;
}

.navbar {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.hero-contract {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.logo {
    width: 120px;
}

.about-block {
    min-height: 200px;
}

.green-title {
    background: #23FFFF;
    background: linear-gradient(90deg,rgba(35, 255, 255, 1) 0%, rgba(4, 66, 66, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-logo {
    width: 160px;
}

.about-block {
    border-radius: 16px;
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(5.1px);
}

.about-block h5 {
    border-bottom: 1px solid rgba(35, 255, 255, 0.25);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
}

.about-liquidity {
    border: 1px solid rgba(35, 255, 255, 0.25);
   background: #23FFFF;
    background: linear-gradient(90deg,rgba(35, 255, 255, 0.05) 0%, rgba(4, 66, 66, 0.05) 100%);
}

.about-defense {
   background: #23FFFF;
    background: linear-gradient(90deg,rgba(35, 255, 255, 0.5) 0%, rgba(4, 66, 66, 0.5) 100%);
}

.about-rules {
   background: #23FFFF;
    background: linear-gradient(90deg,rgba(35, 255, 255, 0.8) 0%, rgba(4, 66, 66, 0.8) 100%);
}

.aligned-block {
   background: #23FFFF;
    background: linear-gradient(90deg,rgba(35, 255, 255, 0.25) 0%, rgba(4, 66, 66, 0.25) 100%);
    border: 1px solid rgba(35, 255, 255, 0.25);
}

.revenue-logo {
    width: 250px;
}

.bg-math {
    background-image: url('../images/bg-math.jpg');
    background-repeat: no-repeat;
    background-position-x: center ;
    background-position-y: top;
}

.allocation-block {
    height: 180px;
    transition: transform 0.2s ease-in-out;
}

.allocation-block:hover {
    background: #23FFFF;
    background: linear-gradient(to right, #23FFFF 0%, #044242 100%);
    
}

.albl-one {
    border-right: 1px solid #23FFFF;
    border-bottom: 1px solid #23FFFF;
    
}

.albl-two {
    border-right: 1px solid #23FFFF;
    border-bottom: 1px solid #23FFFF;
}

.albl-three {
    border-bottom: 1px solid #23FFFF;
}

.albl-four {
    border-right: 1px solid #23FFFF;
}

.albl-five {
    border-right: 1px solid #23FFFF;
}

.albl-six {
    border:none;
}

.albl-one:hover, .albl-two:hover, .albl-three:hover, .albl-four:hover, .albl-five:hover, .albl-six:hover {
    transform: scale(1.05);
    border: none;
    border-radius: 1rem;
}