@media screen and (max-width: 600px) {
	body {
		
		font-size: 16px;
	}

	#hero h2 {
		font-size: 2.5rem;
	}

	.logo {
		width: 100px;
	}

	.btn-xlg {
		--bs-btn-padding-x: 1.5rem;
		--bs-btn-padding-y: 0.5rem;
		--bs-btn-font-size: 1.4rem;
		letter-spacing: 1px;
	}

	.about-block {
		min-height: auto;
	}

	section#about {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	section#math {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	section#scarcity {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	section#contract {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	section#allocation {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	section#revenue {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	section#revenue {
		padding-top: 40px;
		padding-bottom: 160px;
	}

	.math-wrapper .img-left-circle {
		left: -20%;
		width: 70%;
	}

	.math-wrapper .img-right-circle {
		right: -20%;
		top: 20%;
		width: 70%;
	}

	.math-wrapper .img-left-shape {
		display: none !important;
	}

	.math-wrapper .img-right-shape {
		display: none !important;
	}


	.allocation-block {
		height: auto;
		transition: none;
		position: static;
	}

	.allocation-block:hover {
		background: none;

	}

	.albl-one,
	.albl-two,
	.albl-three,
	.albl-four,
	.albl-five,
	.albl-six {
		border: 1px solid #23FFFF;
		border-radius: 1rem;
	}

	.albl-one:hover,
	.albl-two:hover,
	.albl-three:hover,
	.albl-four:hover,
	.albl-five:hover,
	.albl-six:hover {
		transform: none;
		border: 1px solid #23FFFF;
	}

	.revenue-logo {
		width: 200px;
	}

	.bottom-wrapper .img-left-circle {
		position: absolute;
		left: -20%;
		top: 0;
		width: 90%;
	}

	.bottom-wrapper .img-right-circle {
		position: absolute;
		right: -10%;
		top: 25%;
		width: 90%;
	}

	.bottom-wrapper .img-left-shape {
		position: absolute;
		left: 0;
		top: 93%;
		width: 40%;
	}

	.bottom-wrapper .img-right-shape {
		position: absolute;
		right: 0;
		top: 84%;
		width: 40%;
	}
}