@media screen and (max-width: 600px) {
  body {
	background-image: url('../images/bg-body-mobile.jpg');
}

section#about {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#math {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#scarcity {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#contract {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#allocation {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#revenue {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#revenue {
	padding-top: 40px;
	padding-bottom: 160px;
}

.math-wrapper .img-left-circle {
	left: -20%;
    width: 70%;
}

.math-wrapper .img-right-circle {
	right: -20%;
	top: 20%;
    width: 70%;
}

.math-wrapper .img-left-shape {
	display: none !important;
}

.math-wrapper .img-right-shape {
	display: none !important;
}



.allocation-block {
	height: auto;
	transition: none;
	position: static;
}

.allocation-block:hover {
	background: none;

}

.albl-one,
.albl-two,
.albl-three,
.albl-four,
.albl-five,
.albl-six {
	border: 1px solid #23FFFF;
    border-radius: 1rem;
}

.albl-one:hover,
.albl-two:hover,
.albl-three:hover,
.albl-four:hover,
.albl-five:hover,
.albl-six:hover {
	transform: none;
	border: 1px solid #23FFFF;
}

.bottom-wrapper .img-left-circle {
	position: absolute;
	left: -20%;
	top: 0;
    width: 90%;
}

.bottom-wrapper .img-right-circle {
	position: absolute;
	right: -10%;
	top: 50%;
    width: 90%;
}

.bottom-wrapper .img-left-shape {
	position: absolute;
	left: 0;
	top: 94%;
    width: 40%;
}

.bottom-wrapper .img-right-shape {
	position: absolute;
	right: 0;
	top: 94%;
    width: 40%;
}
}